.container {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
}

button {
  margin-top: 1rem;
  width: 40vw;
}
